@font-face {
  font-family: "Karla";
  font-weight: 400;
  src: local("Karla-Regular"), url("./src/fonts/karla-v31-latin-regular.woff2"),
    url("./src/fonts/karla-v31-latin-regular.woff");
}

@font-face {
  font-family: "Karla";
  font-weight: 700;
  src: local("Karla-Bold"), url("src/fonts/karla-v31-latin-700.woff2"),
    url("/src/fonts/karla-v31-latin-700.woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: local("Inter-Medium"), url("src/fonts/inter-v13-latin-500.woff2"),
    url("src/fonts/inter-v13-latin-500.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  color: inherit;
}

/* --------------- Utility Classes --------------- */
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 20px;
  max-width: 550px;
  margin-inline: auto;
}
/* --------------- End of Utility Classes --------------- */

body {
  background-color: grey;
  color: white;
  font-size: 16px;
  font-family: "karla", sans-serif;
  padding: 20px;
}

.container--header {
  background: linear-gradient(90deg, hsl(284, 58%, 32%), hsl(284, 69%, 49%));
  gap: 8px;
}

.logo {
  width: 32px;
  height: 26px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: calc(20px * -0.1);
}

.project-name {
  font-size: 15px;
  margin-left: auto;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.container--main {
  background-color: darkolivegreen;
  padding: 36px;
}

.form {
  display: grid;
  grid-template: auto auto / auto auto;
  gap: 16px;
}

.form__input {
  width: 100%;
  border: 1px solid hsl(255, 5%, 84%);
  border-radius: 5px;
  padding: 12px 10px;
}

.form__input:focus {
  outline: none;
}

.form__button {
  background: linear-gradient(90deg, hsl(284, 58%, 32%), hsl(284, 69%, 49%));
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  grid-column: 1 / -1;
}

.form__button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(284, 58%, 40%), hsl(284, 69%, 55%));
}

.meme-img {
  margin-top: 10px;
}
