@font-face {
  font-family: "Karla";
  src: url("./src/assets/fonts/Karla-VariableFont_wght.woff2");
}

@font-face {
  font-family: "Inter";
  src: url("./src/assets/fonts/Inter-VariableFont_slnt_wght.woff2");
}

/* ------------------- CSS Reset ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0.125rem dotted hsl(52, 33%, 68%);
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --------------- Utility Classes --------------- */
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------- End of Utility Classes --------------- */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: "karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  background-color: #1e2227;
  padding: 1.25rem;
}

.wrapper {
  max-width: 36rem;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  background: linear-gradient(90deg, hsl(151, 24%, 60%), hsl(37, 79%, 75%));
  gap: 8px;
  padding: 2rem;
}

.header__logo {
  width: 2rem;
  height: 1.75rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.header__project-number {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-left: auto;
}

.main {
  background-color: #3d405b;
  gap: 1rem;
  padding: 2rem;
}

.form {
  width: 100%;
  display: grid;
  grid-template: auto auto / auto auto;
  gap: 1rem;
}

.form__label {
  color: white;
}

.form__input-wrapper {
  align-items: start;
  gap: 0.5rem;
}

.form__input {
  width: 100%;
  border: 2px solid hsl(52, 33%, 68%);
  border-radius: 8px;
  padding: 0.75rem;
}

.form__button {
  grid-column: 1 / -1;
  font-weight: 700;
  background: linear-gradient(90deg, hsl(151, 24%, 60%), hsl(37, 79%, 75%));
  padding: 0.875rem;
  border: none;
  border-radius: 6px;
}

.form__button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsl(151, 24%, 70%), hsl(37, 79%, 85%));
}

.meme-img {
  width: 100%;
  border-radius: 8px;
}
